<ion-header>
  <ion-toolbar>
    <ion-title> {{ !isLoginMode ? 'Sign Up' : 'Login'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>-->
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" ngModel name="email" required
            email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
            <ion-label>Ingresa un correo valido</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password"
            required minlength="6" #passCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
            <ion-label>Ingresa un password valido</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button color="primary" type="buttom" fill="clear"
        expand="block" (click)="onSwitchAuthMode()">Swith to
      {{ isLoginMode ? 'Sign Up' : 'Login' }}</ion-button>

        <ion-button color="primary" type="submit"
        expand="block" (click)="onLogin()" *ngIf="!isLoading"
        [disabled]="!myForm.valid">{{ !isLoginMode ? 'Sign Up' : 'Login' }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

</ion-content>
