<ion-header>
  <ion-toolbar>
    <ion-title>Confirmacion</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" >
  <p>Estás seguro de reservar {{lugar.titulo}} ?</p>
  <form (ngSubmit)="onBookPlace()" #formNew="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
          <ion-img [src]="lugar.imageUrl"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" ngModel name="nombre" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" ngModel name="apellido" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Numero de Huespedes</ion-label>
            <ion-select [ngModel]="'2'" name="numero-huespedes">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="1">2</ion-select-option>
              <ion-select-option value="1">3</ion-select-option>
              <ion-select-option value="1">4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Desde</ion-label>
            <ion-datetime display-format="MMM DD YYYY"
            picker-format="YY MMM DD" [min]="lugar.disponibleDesde.toISOString(
            )" [max]="lugar.disponibleHasta.toISOString()" [ngModel]="desde"
            name="fec-desde" required #desdeCtrl></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Hasta</ion-label>
            <ion-datetime display-format="MMMM DD YYYY"
            picker-format="YY MMM DD" [min]="desdeCtrl.value != undefined ?
            lugar.disponibleDesde.toISOString() : desdeCtrl.value" [max]=
            "lugar.disponibleHasta.toISOString()" [ngModel]="hasta" name="fec-hasta" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" type="submit" [disabled]="
          !formNew.valid || !fechasValidas()">Si, Reservar!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>